body {
    background-color: #F6F8FA;
}

.lista_produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}

.lista_items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2rem;
}

.card_produto {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    box-shadow: 5px 10px #888888;
}

nav i {
    font-size: 30px;
    cursor: pointer;
}

.carrinho {
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    display: flex;
    flex-direction: column;
    display: block;
    background-color: white;
    gap: 10px;
}

.carrinho i {
    cursor: pointer;
}

.carrinho_titulo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.carrinho_box {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carrinho_img {
    width: 120px;
    height: 150px;
    object-fit: cover;
    padding: 10px;
}

.price_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price_icon i {
    cursor: pointer;
}

.price_icon span {
    color: green
}

.icon {
    padding: 8px;
}

.carrinho_icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    padding-top: 1rem;
}

.carrinho_icons i {
    background: orange;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrinho_produto-titulo {
    font-size: 1.1rem;
}

.carrinho_produto-preco {
    font-size: 1.3rem;
    font-weight: bold;
}

.carrinho_preco-total-item {
    font-size: 1rem;
    font-weight: bold;
}